.p-comment__item
  %p
    = simple_format(comment.comment)
  .p-comment__bottomLine
    - if user_signed_in? && current_user.id == comment.user.id
      %span
        = link_to '削除', comment, method: :delete, data: { confirm: 'コメントを削除してもよろしいですか？' }
    - if comment.post.user.id == comment.user.id
      %span.badge.badge-secondary
        = comment.user.name
    - else
      %span
        = comment.user.name
    %span
      = comment.created_at.to_s(:datetime_day_jp)