.p-comment__formBox
  %p.p-comment__formTitle コメント記入
  = form_for comment do |f|
    = f.hidden_field :post_id
    .form-group
      = f.label :comment, 'コメント'
      = f.text_area :comment, class: 'form-control', rows: 4
    = f.submit '送信', class: 'btn btn-primary'