= render 'shared/error_messages'

.p-comment__formBox
  = form_for comment do |f|
    = f.hidden_field :post_id
    .form-group
      %p.p-comment__formTitle= f.label :comment, 'コメント記入'
      = f.text_area :comment, class: 'form-control', rows: 4
    = f.submit '送信', class: 'btn btn-primary'