- content_for(:html_title) {"#{@user.name}さんの投稿 | BowWow!"}

.container.post-list
  = render 'layouts/flashes'
  .profile
    - if user_signed_in? && current_user.id == @user.id
      .text-right
        = link_to '編集', edit_user_path(@user), class: "btn btn-outline-dark"
    .profile-image
      - if @user.image.attached?
        = image_tag @user.image, class: "profile-image__image"
      - else
        = image_tag 'no_image.png', class: "profile-image__image"
    %h5.text-center.mt-3.mb-5
      = @user.name

  .posts.card
    %h2.text-center.card-header
      投稿一覧
    .row.post-list__items.card-body
      = render partial: 'posts/posts', locals: { posts: @posts }
    = paginate @posts
