= render 'shared/error_messages'

= form_with model: post, local: true, id: 'posts_form' do |f|
  .form-group#post-images-area
    = f.label :images, '画像（1枚〜6枚まで）：'
    = f.file_field :images, multiple: true, class: 'image-upload-btn', id: "post_images_#{@images_count + 1}"
  .form-group.image-boxes
    - post.images.each_with_index do |image, index|
      .image-box.m-3.float-left{ id: "image-box-#{index + 1}" }
        = image_tag image, class: "mb-1 image-box__image"
        .delete-btn{ id: "delete-btn-#{index + 1}" }= icon('far', 'times-circle')
      .delete-check-boxes
        = f.check_box :images_blob_ids, { multiple: true, checked: false, class: "check-box-#{index + 1}" }, image.id, false
    = f.label :images, "+", class: "add_image text-center m-3 float-left", id: "have_#{@images_count}_img", for: "post_images_#{@images_count + 1}"
  .form-row
    .col-md-8
      .form-group
        = f.label :title, 'タイトル（50文字以内）：'
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :body, '本文（1000文字以内）：'
        = f.text_area :body, class: 'form-control', rows: 12
    .col-md-4
      .form-group#category
        = f.label :parent_category, '犬種：'
        = f.select :parent_category, @category_parent_array, {}, { id: 'parent_category', class: 'form-control' } 
        - if @category_child_array
          = f.select :child_category, options_for_select(@category_child_array.map{ |c|[c[:name], c[:name], { data: { category: c[:id] } }] }, @post.child_category), {}, { id: 'child_category', class: "form-control mt-2" }
      .form-group
        = f.label :tag_names, 'タグ（カンマ区切り）：'
        - if tags
          = f.text_field :tag_names, class: 'form-control', value: tags.join(",")
        - else
          = f.text_field :tag_names, class: 'form-control'

  = f.submit '保存', class: 'btn btn-primary mt-3'
