.card
  .card-header
    %ul.show-post__info.list-inline
      %li.list-inline-item
        = icon("far", "edit")
        = post.created_at.to_s(:datetime_day_jp)
      %li.list-inline-item
        = link_to user_path(post.user.id) do
          = icon("fas", "user")
          = post.user.name + "さん"
      - if user_signed_in? && current_user.id == post.user.id
        %li.list-inline-item.float-right.dropdown
          %span{ role: "button", id: "dropdownMenu", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "true" } }= icon("fas", "ellipsis-h")
          .dropdown-menu.dropdown-menu-right{ aria: { labelledby: "dropdownMenu" } }
            = link_to '編集する', edit_post_path(post), class: 'dropdown-item'
            = link_to '削除する', post_path, class: 'dropdown-item text-danger', method: :delete, data: { confirm: '本当に削除しますか？' }
    %h4
      = post.title
    - post.tags.each do |tag|
      %span.badge.badge-info
        = tag.name
  .card-body
    %ul.slider-pc.d-none.d-md-block
      - if post.images.attached?
        - post.images.each do |image|
          %li
            = image_tag image, class: 'show-post__images--pc'
    %ul.slider-sp.d-block.d-md-none
      - if post.images.attached?
        - post.images.each do |image|
          %li
            = image_tag image, class: 'show-post__images--sp'
  .card-body
    %p.card-text
      = simple_format(post.body)
  