.container.post-list
  %h1.text-center.font-weight-bold 投稿一覧
  .row.post-list__items
    -# 以下仮置き
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample.jpg', class: "post-list__items__item__image"
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample_2.jpg', class: "post-list__items__item__image"
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample.jpg', class: "post-list__items__item__image"
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample_2.jpg', class: "post-list__items__item__image"
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample.jpg', class: "post-list__items__item__image"
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample_2.jpg', class: "post-list__items__item__image"
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample.jpg', class: "post-list__items__item__image"
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample_2.jpg', class: "post-list__items__item__image"
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample.jpg', class: "post-list__items__item__image"
    .col-md-4.post-list__items__item
      = link_to "#" do
        = image_tag 'shiba_sample_2.jpg', class: "post-list__items__item__image"

= link_to '新規投稿', new_post_path, class: 'new-post-btn'
