.container.post-list
  %h1.text-center.font-weight-bold 投稿一覧
  - if flash[:notice]
    .alert.alert-danger
      = flash[:notice]
  .row.post-list__items
    - @posts.each_with_index do |post, index|
      .col-md-4.post-list__items__item
        = link_to post do
          = image_tag 'shiba_sample.jpg', class: "post-list__items__item__image"
          .post-list__items__item__text
            = post.title

  = paginate @posts

.d-none.d-md-block
  = link_to '新規投稿', new_post_path, class: 'new-post-btn--pc'
.d-block.d-md-none
  = link_to '新規投稿', new_post_path, class: 'new-post-btn--sp'
