.container.post-list
  %h1.text-center.font-weight-bold みんなの投稿
  = render 'layouts/flashes'
  .ml-auto.post-list__linkBox.text-right
    = search_form_for(@q, url: posts_path, id: "search_category") do |f|
      - if @q.child_category_eq
        = link_to 'リセット', root_path, class: "btn-outline-dark"
      = f.select :parent_category_eq, @category_parent_array, {}, { id: 'search_parent_category', class: 'form-control post-list__select mb-2' }
      - if @q.child_category_eq
        = f.select :child_category_eq, options_for_select(@category_child_array.map{|c|[c[:name], c[:name], {'data-category' => c[:id]}]}, @q.child_category_eq), {}, { id: 'search_child_category', class: 'form-control post-list__select mb-2', onchange: 'submit(this.form);' }

  - if @posts.length == 0
    %h3.text-center.mt-5
      そのイッヌはまだここにはいません(T_T)
  - else
    .row.post-list__items
      = render partial: 'posts', locals: { posts: @posts }

  = paginate @posts

- if user_signed_in?
  .d-none.d-md-block
    = link_to icon("fas", "plus-circle") + ' 新規投稿', new_post_path, class: 'new-post-btn--pc'
  .d-block.d-md-none
    = link_to icon("fas", "plus"), new_post_path, class: 'new-post-btn--sp'
