.container.post-list
  %h1.text-center
    = "検索結果：#{@posts_length}件"
  = render 'layouts/flashes'
  .row.post-list__items
    = render partial: 'posts', locals: { posts: @posts }

  = paginate @posts

- if user_signed_in?
  .d-none.d-md-block
    = link_to icon("fas", "plus-circle") + ' 新規投稿', new_post_path, class: 'new-post-btn--pc'
  .d-block.d-md-none
    = link_to icon("fas", "plus"), new_post_path, class: 'new-post-btn--sp'
