.container.show-post
  .d-flex.align-items-center.mt-4.mb-4
    .ml-auto.boards__linkBox
      = link_to '一覧', posts_path,  class: 'btn btn-outline-dark'
      = link_to '編集', edit_post_path(@post),  class: 'btn btn-outline-primary'
      = link_to '削除', post_path, class: 'btn btn-outline-danger', method: :delete, data: { confirm: '本当に削除しますか？' }
      
  - if flash[:notice]
    .alert.alert-primary
      = flash[:notice]

  = render @post
  = render partial: 'comment_form', locals: { comment: @comment }