- content_for(:html_title) {"#{@post.title} | BowWow!"}

.container.show-post
  - if flash[:notice]
    .alert.alert-primary
      = flash[:notice]
  - if flash[:alert]
    .alert.alert-danger
      = flash[:alert]
  .row
    .col-md-8
      = render @post

      - if user_signed_in?
        = render partial: 'comments/form', locals: { comment: @comment }
      .p-comment__list
        .p-comment__listTitle コメント
        = render partial: 'comments/comment', locals: { comments: @comments }

    .col-md-4
      .card
        .card-header
          %h6
            = link_to user_path(@post.user.id) do
              = @post.user.name + "さん"
            = "のその他の投稿"
        .card-body
          .post-list__items
            - if @user_posts.length == 0
              %p その他の投稿はありません
            - else
              = render partial: 'shared/side_column', locals: { posts: @user_posts }
      .card.mt-4
        .card-header
          %h6 新着投稿
        .card-body
          .post-list__items
            = render partial: 'shared/side_column', locals: { posts: @new_posts }
