%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  = link_to 'BowWow!', root_path, class: 'navbar-brand'
  %button.navbar-toggler{ type: "button", 
                          data: { toggle: "collapse", target: "#navbarSupportedContent" },
                          aria: { controls: "navbarSupportedContent", expanded: "false", label: "Toggle navigation" } }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.mr-auto
      - if user_signed_in?
        %li.nav-item.pl-1
          = header_link_item(icon('fas', 'th') + " 投稿一覧", root_path)
        %li.nav-item.pl-1
          = header_link_item(icon('fas', 'plus-circle') + " 新規投稿", new_post_path)
        %li.nav-item.pl-1.dropdown
          = link_to icon('fas', 'user') + " #{current_user.name}さん", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }
          .dropdown-menu{ aria: { labelledby: "navbarDropdown" } }
            = link_to 'マイページ', user_path(current_user), class: 'dropdown-item'
            = link_to 'ログアウト', logout_path, class: 'dropdown-item'
      - else
        %li.nav-item.pl-1
          = header_link_item(icon('fas', 'th') + " 投稿一覧", root_path)
        %li.nav-item.pl-1
          = header_link_item(icon('fas', 'user-plus') + " ユーザ登録", signup_path)
        %li.nav-item.pl-1
          = header_link_item(icon('fas', 'sign-in-alt') + " ログイン", login_path)

    = search_form_for(@q, url: search_path, class: "form-inline my-2 my-lg-0") do |f|
      = f.search_field :title_cont, class:"form-control mr-sm-2", type: "search", placeholder: "Search", area: { label: "Search" }
      = f.submit 'Search', class: "btn btn-outline-success my-2 my-sm-0", type: "submit"
